<h1>Chatroom</h1>
<h2>Conversation Board</h2>
<div id='container'>
</div>
<form id="chat-form">
    <input id='textbox' type="text" placeholder="Enter your message">
    <input type="submit" value="enter">
</form>